#navbar .logo {
  float: none;
  text-align: center;
}
#navbar ul, #navbar ul li{
  float: none;
}
#navbar ul{
  margin-top: 15px;
}
#navbar ul li a{
  padding: 5px;
  border-bottom: 1px #444 dotted;
}

/* ---HOME--- */
#home{
  height: 100%;
}
#home .home-content{
  padding-top: 70px;
  padding-bottom: 30px;
}

/* -----SECTION-1---- */
#history .history-image{
  display: none;
}
#history .history-info{
  float: none;
  width: 100%;
  text-align: center;
}

/* -----SECTION-2---- */
.box{
  float: none;
  width: 100%;
}

/* ----SECTION-about--- */
#about .info-left{
  float: none;
  width: 100%;
}
#about .info-right{
  float: none;
  width: 100%;
  margin-bottom: 10px;
}

/* -----FOOTER---- */
#main-footer .copyright{
  float: none;
  width: 100%;
  opacity: 0.5;
}
#main-footer .social{
  float: none;
  width: 100%;
}
#main-footer .social a{
  margin: 0 5px;
}

/* ----SECTION-testimonial---- */
/* #testimonials .testimonial p{
  text-align: left;
} */
/* ----SECTION-contact---- */
#contact-info .box{
  border-bottom: 1px dotted #444;
}
